<div class="form-signin text-center">
  
  
  <form  [formGroup]="myGroup"  (ngSubmit)="submit()">
      <div class="form-group">
        <button class="btn btn-success" >
          <span role="status" aria-hidden="true"></span>
          Salvar
        </button>
      <table>
        <tr>
          <td>
            Id
          </td>
          <td>
            Nome
          </td>
        </tr>
        <tr  *ngFor="let item of resources">
          <td>{{ item.id }}</td>
          <td>{{ item.className }}</td>
          <label *ngFor="let category of myGroup.controls[item.className].controls; let i = index">
            <input type="checkbox" [formControl]="category">
            {{ categories[i].name }} 
          </label>
          Selected: <strong>{{ myGroup.get(item.className).value }}</strong>
        <br />
        </tr>
      </table>
      <button class="btn btn-success" >
        <span role="status" aria-hidden="true"></span>
        Salvar
      </button>
    </div>

    </form>
    </div>