<div class="form-signin text-center">
  
  
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <button class="btn btn-success" >
          <span role="status" aria-hidden="true"></span>
          Criar novo Resource
        </button>
      
  
      <table>
        <tr>
          <td>
            Id
          </td>
          <td>
            Nome
          </td>
        </tr>

        <tr *ngFor="let item of resources">
          <td>{{ item.id }}</td>
          <td>{{ item.className }}</td>
          <form [formGroup]=”form” (submit)=”submit(form.value)”>
            <div *ngFor=”let checkbox of checkboxs.controls; let i=index”>
             <input type=”checkbox” [formControl]=”checkbox”/> {{checkbox.checkbox[i].name}}
            </div>
            <button type=”submit”>Submit</button>
           </form>

        </tr>
      </table>
    </div>

    </form>
    </div>