<div class="form-signin text-center">
  <h1 *ngIf="!editContratoflag">Insira uma novo Contrato</h1>
  <h1 *ngIf="editContratoflag">Editar Contrato</h1>
  <form [formGroup]="registerContratoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <select class="form-control" id="authorized" formControlName="authorized" placeholder="Pessoa a ser autorizada">
          <option value="" disabled selected>Pessoa a ser autorizada</option>  
          <option *ngFor="let pessoa of pessoas" [value]="pessoa.id">{{pessoa.name}}</option>
        </select>
    </div>
    <div class="form-group">
      <input type="text" formControlName="dateStart" class="form-control" placeholder="Data de inicio" [ngClass]="{ 'is-invalid': f.dateStart.errors && submitted }"/>
      <div *ngIf="registerContratoForm.hasError && f.dateStart.errors" class="invalid-feedback">
        <div *ngIf="f.dateStart.errors.required">A data de inicio é obrigatória</div>
      </div>
    </div>

    <div class="form-group">
      <input type="text" formControlName="dateEnd" class="form-control" placeholder="Data final" [ngClass]="{ 'is-invalid': f.dateEnd.errors && submitted }"/>
      <div *ngIf="registerContratoForm.hasError && f.dateEnd.errors" class="invalid-feedback">
        <div *ngIf="f.dateEnd.errors.required">A data final do contrato é obrigatória</div>
      </div>
    </div>

    <div class="form-group">
      <button *ngIf="!editContratoflag" [disabled]="loading" class="btn btn-success">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Registrar
      </button>
      <button *ngIf="editContratoflag" [disabled]="loading" class="btn btn-success">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Salvar
      </button>
    </div>

  </form>

</div>