<div class="form-signin text-center">
  
  
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <button class="btn btn-success" >
          <span role="status" aria-hidden="true"></span>
          Criar novo Contrato
        </button>
      
  
      <table>
        <tr>
          <td>
            Id
          </td>
          <td>
            Autorizado
          </td>
          <td>
            Data inicial
          </td>
          <td>
            Data Final
          </td>
        </tr>

        <tr *ngFor="let item of contratos">
          <td>{{ item.id }}</td>
          <td>{{ item.authorized.name }}</td>
          <td>{{ item.dateStart }}</td>
          <td>{{ item.dateEnd }}</td>
          <td><button type="button" (click)="onUpdateContrato(item.id)" class="btn btn-primary" >Update</button></td>
          <td><button type="button" (click)="onDeleteContrato(item)"class="btn btn-danger" >Delete</button></td>
          <td><button type="button" (click)="onResource(item.id)"class="btn btn-success" >Permissões</button></td>
        </tr>
      </table>
    </div>

    </form>
    </div>