<div class="form-signin text-center">
  <h1 *ngIf="!editAreaflag">Insira uma nova Área</h1>
  <h1 *ngIf="editAreaflag">Editar Área</h1>
  <form [formGroup]="registerAreaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="descricao" class="form-control" placeholder="Descrição" [class.is-invalid]="f.descricao.errors && submitted"/>
      <div *ngIf="registerAreaForm.hasError && f.descricao.errors" class="invalid-feedback">
        <div *ngIf="f.descricao.errors.required">Descrição é obrigatório</div>
      </div>
    </div>
    

    <div class="form-group">
        <select class="form-control" id="tiposolo" formControlName="tiposolo" placeholder="Tipo do Solo">
            <option value="" disabled selected>Tipo do solo</option>  
            <option *ngFor="let soil of soils" [value]="soil.id">{{soil.description}}</option>
          </select>

    </div>

    <div class="form-group">
      <button *ngIf="!editAreaflag" [disabled]="loading" class="btn btn-success">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Registrar
      </button>
      <button *ngIf="editAreaflag" [disabled]="loading" class="btn btn-success">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Salvar
      </button>
    </div>
    <div class="form-group">

      <agm-map [latitude]="center.lat" [longitude]="center.lng" (mapReady)="onMapReady($event)" >
      </agm-map>
    </div>

  </form>

</div>